---
layout: page
title: "Experience"
description: "My research and work experience"
header-img: "img/post-bg-exp.jpg"
---


<!-- Page Header -->
<!--<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
<!--                <div class="site-heading" id="tag-heading">-->
<!--                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>-->
<!--                    <span class="subheading">{{ page.description }}</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<style>
    .intro-header {
        width: 1680px;
        height: 400px;
    }
</style>

<!-- Main Content -->
<div class="zh post-container">

    <!--copied from markdown -->

    <p>I'm a research engineer with over ten years experience in the field of computer vision.</p>

    <p>In 2009 I received my bachelor degree in Software Engineering. In the same year, I completed my undergraduate thesis on "Virtual Campus", where basic image processing and 3D modelling tools were used
	to build this virtual reality system: <a href="https://mary-xl.github.io/MarysBlog//2019/10/09/Virtual-Campus/">Virtual Campus</a> </p>

    <p>I started my PhD study from 2010 and received the degree from University of New South Wales in late 2013, where my research has been focused on using computer vision and photogrammetry technologies for 3D mapping and visual navigation:
	<a href="https://mary-xl.github.io/MarysBlog//2019/10/07/Vision-based-positioning/">Vision-based Navigation</a></p>

    <p>I joined High Resolution Plant Phenomics Centre (HRPPC), Agriculture Flagship, CSIRO in 2014. As a software engineer (research) in their R&D team, I was mainly responsible for developing software
       to process, analysis and understand visual information collected from various plant phenotyping platforms, including helicopter&UAV, field robotics and controlled environment imaging platforms, etc. I participated
		in several projects and here I listed two main projects I led and published:
		<a href="https://mary-xl.github.io/MarysBlog//2019/10/06/Stereo-Reconstruction-of-Small-Plants/">Stereo Reconstruction of Small Plants</a> and <a href="https://mary-xl.github.io/MarysBlog//2019/10/10/Plant-Height-Estimation-from-Aerial-Platforms/">Plant Height Estimation from Aerial Platforms</a>.</p>
    <p>
		I'm also very interested and have some experience of using deep learning for computer vision related applications, such as image classification, object detection and image segmentation.
	</p>
</div>